<h1>Student Form</h1>
<div [formGroup]="studentForm">
  Firstname:<input type="text" formControlName="firstname" placeholder="Please enter your firstname">
  <br>
  LastName:<input type="text" formControlName="lastname" placeholder="please eneter your lastname">
  <br>
  Mobile Number:
  <div formArrayName="mobilenumbers">
    <div *ngFor="let x of mobilenumbers.controls;let i=index">
      <input type="text" [formControlName]="i">
    </div>
  </div>
  <button (click)="addNew()">+ADD</button>
  <br>
  Locations:
  <div formArrayName="locations">
    <div *ngFor="let y of locations.controls;let i=index">
      <input type="text" [formControlName]="i">
    </div>
  </div>
  <button (click)="addLocation()">+Add Locations</button>
  <br>
  <button (click)="addStudent()" >Add Student</button>

</div>