<h1>StudentForm</h1>
<div [formGroup]="studentForm">
  Firstname: <input type="text" formControlName="firstname" placeholder="please eneter your firstname">
  <br>
  lastname: <input type="text" formControlName="lastname" placeholder="please enter your lastaname">
  <br>
  mobileNumbers:
  <div formArrayName="mobilenumbers">
    <div *ngFor="let x of mobilenumbers.controls;let i=index">
      <input type="text" [formControlName]="i">
    </div>
  </div>
  <button (click)="addNew()">+Add</button>
  <br>
  <button (click)="add()">Submit</button>
</div>